<a href="https://colab.research.google.com/github/gojeonpa2se/DS1002-S24-1/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Load pandas and the data
import pandas as pd
ride_sharing = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [8]:
# show how many rows and columns are in this dataset
print("Number of rows and columns:", ride_sharing.shape)

Number of rows and columns: (25760, 10)

In [21]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride_sharing['duration'] = pd.to_numeric(ride_sharing['duration'], errors='coerce')

In [22]:
# Now display the datatypes in the updated dataframe
print("Datatypes in the updated dataframe:")
print(ride_sharing.dtypes)

Datatypes in the updated dataframe:
duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [23]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print("Min duration:", ride_sharing['duration'].min())
print("Max duration:", ride_sharing['duration'].max())

Min duration: 1
Max duration: 1372

In [26]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
short_rides = ride_sharing.query('duration <= 60')

In [27]:
# Now show both the min and max values of the duration column for your new dataset.
print("Min duration for short rides:", short_rides['duration'].min())
print("Max duration for short rides:", short_rides['duration'].max())

Min duration for short rides: 1
Max duration for short rides: 60

In [32]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
ride_sharing_26 = ride_sharing[ride_sharing['tire_size'] == 26]

In [34]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_short_rides = ride_sharing_26.query('duration <= 60 and user_gender == "Female"')
print("Count of Female riders with 26-inch tire size for rides of one hour or less:", len(female_short_rides))

Count of Female riders with 26-inch tire size for rides of one hour or less: 2962

In [36]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
import pandas as pd
messy = pd.read_csv('./more-messy-data.csv')

duplicate_rows = messy.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 287

In [40]:
# Next, remove all duplicate rows using Python.
messy = messy.drop_duplicates()

In [44]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
columns_to_update = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
messy[columns_to_update] = messy[columns_to_update].fillna(messy[columns_to_update].mean(numeric_only=True))

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.df.dropna(inplace=True)
messy.dropna(inplace=True)

In [45]:
# How many different species are there?
num_species = messy['species'].nunique()
print("Number of different species:", num_species)

Number of different species: 10

In [52]:
# Clean up the 'species' variable so that there are exactly three different values.
# Identify the three most frequent species
top_species = messy['species'].value_counts().index[:3]
messy['species'] = messy['species'].apply(lambda x: x if x in top_species else 'Other')
# Verify the result
print(messy.head())

   id  sepal_length  sepal_width  petal_length petal_width    species
0   1           3.5      2.90000           1.4         0.5  virginica
1   2           3.6      3.20000           3.0         0.5     setosa
2   3           3.8      2.98876           2.2         1.5     setosa
3   4           5.8      2.70000           2.6         1.2  virginica
4   5           4.9      3.60000           3.0         1.2  virginica